{% extends "base.html" %}
{% block title %} Resetea tu contrasena {% endblock %}

{% block content %}
    <h1>Resetear tu contrasena</h1>
    {% if validlink %}
        <p>
            Por favor ingresa tu contrasena dos veces.
        </p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change My Password"></p>
        </form>
    {% else  %}
        <p>
            El link para el reseteo de contrasena es incorrecto. Probablemente porque ya ha sido usado. Por favor solicita un nuevo reseteo de contrasena.
        </p>
    {% endif %}

{% endblock %}